*{
    padding: 0px;
    margin: 0px;
}

.upperMenDiv{
    background-color: #f3f3f3;

}
.banner1Div{
   width: 90%;
   margin: auto;
   position: relative;
   margin-bottom: 110px;
}
.NewArrivalDiv{
    width: 90%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 50px;
}
.NewArrivalSlider{
    width: 70%;
}

.NewArrival1st > h1{
    font-size: 30px;
    
}

 
    .shopNowDiv{
    width: 40%;
    background-color: aliceblue;
    position: absolute;
    left: 200px;
    top: 500px;
    z-index: 1;
} 

 .shopNowDiv > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
} 

 .shopNowDiv > h1{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    
} 


 .shopNowDiv > p{
    margin-left: 60px;
    align-items: center;
    color: gray;
  }


.designerDiv{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
}

.designerDiv > div > div > h1{
    font-size: 25px;
    font-weight: 700;
}

.designerDiv > div > div > p{
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: gray;
}
.designerDiv > div > div > h3{
    font-weight: 500;
}

.designerDiv > div > div > div{
     display: flex; 
     justify-content: center;
     gap: 20px;
     font-weight: 500;
}

.designerDiv > div> div{ 
    width: 450px;

} 

.designerDiv > div >img{
    width: 450px;
}

.designerListDiv{
    width: 350px;
    height: 550px;
    background-color: white;
    line-height: 2;
    position: absolute;
    left: 580px;
    top: 840px;
    z-index: 1;
}

.designerListDiv > h2{
    font-size: 15px;
    font-weight: 600;
    color: gray;
}

.designerListDiv > p{
    font-size: 18px;
    font-weight: 600;
}


.watchHeartDiv{
    width: 85%;
    margin: auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    margin-bottom: 100px;
}

.watchHeartDiv > div{
    width:400px;
}

.watchHeartDiv > div > h2{
    font-size: 20px;
    font-weight: 700;
}

.watchHeartMidDiv > h2{
    font-size: 20px;
    font-weight: 700;
}

.watchHeartMidDiv > p{
    font-size: 15px;
    color: gray;
}
.watchHeartDiv > div > p{
    font-size: 15px;
    color: gray;
}

.watchHeartMidDiv >img{
      height: 700px;
}


.clothHeader{
    width: 65%;
    margin: auto;
}

.clothHeader > h1{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.clothHeader > p{
   font-size: 11px;
   color:gray;
   margin-top: 10px;
   margin-bottom: 10px;
}

.clothHeader > h6{
    font-size: 14px;
    margin-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.clothHeader > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.clothHeader > div > h4{
    font-size: 12.5px;
    font-weight: 600;
    color:rgb(139, 138, 138);
}

.clothHeader > div > p{
    font-size: 11px;
}

.clothHeaderStrip{
    width: 65%;
    height: 8px;
    margin: auto;
    background-color: #f3f3f3;
    margin-bottom: 40px;
}

.mainClothDiv{
    width: 65%;
    margin: auto;
    display: flex;
}
.FiltersDiv{
    width: 25%;
}
.FiltersDiv > img{
     margin-top: 5px;
     margin-bottom: 5px;
}

.MainProductsDiv{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

.clothingDivBox > h4{
    font-size: 13.5px;
    font-weight: 650;
}

.clothingDivBox> h5{
    font-size: 13.5px;
    color: gray;
}
.clothingDivBox > h6{
    font-size: 13.3px;
    font-weight: 650;
}

.clothingDivBox> img{
    width: 200px;
    display: block;
    margin: auto;
}







 