.navbar{
    background-color: white;
    height: fit-content;
   
}

/* Top Navbar css start */
.top{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(233, 231, 231);
    background-color: rgb(255, 253, 253);
    position: fixed;
    top: 0px;
}

.top_left{
    width: 14%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_left>p{
    font-weight: bold;
    font-size: 13px;
    text-decoration: underline;
    color: rgb(55, 55, 55);
    cursor: pointer;
}

.top_middle{
    width: 44%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_middle>p{
    font-weight: bold;
    font-size: 12px;
    color: rgb(55, 55, 55);
}

.top_right{
    width: 7%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_right p{
    font-weight: bold;
    font-size: 12px;
    color: rgb(55, 55, 55);
    text-decoration: underline;
    cursor: pointer;
}

/* Top Navbar css end */

/* Middle navbar css start */
.middle{
    width: 100%;
    height: 65px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 253, 253);
    border-top: 1px solid rgb(233, 231, 231);
    border-bottom: 1px solid rgb(233, 231, 231);
    position: fixed;
    top: 30px;
}

.empty{
    width: 10%;
}

.middle_left{
    width: 30%;
    height: 65px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    font-size: 13px;
    color: rgb(47, 45, 45);
}

.middle_middle{
    width: 25%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle_middle>img{
    width: 100px;
    height: 32px;
}

.middle_right{
    width: 25%;
    height: 65px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    /* cursor: pointer; */
}

/* Middle navbar css end */


/* Modal CSS */
.chakra-modal__body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.chakra-modal__body > .chakra-input {
    background-color: rgb(242, 241, 241);
    border: none;
    border-radius: 0px;
}
.chakra-modal__body > .chakra-button {
    background-color: black;
    color: white;
    width: 100%;
    border: none;
    border-radius: 0px;
}