* {
  padding: 0px;
  margin: 0px;
}
.Nav {
  width: 65%;
  height: 30px;
  display: flex;
  margin: auto;
  text-decoration: underline;
  justify-content: space-between;
  gap: 20px;
  font-size: 10px;
  font-weight: 700;
  color: black;
}

.inbox1 {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  font-weight: bolder;
  color: black;
}

.inbox2 {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
  color: black;
  font-weight: bolder;
  font-family: sans-serif;
}

.Nav > div > div:hover {
  background-color: rgb(231, 230, 230);
}

.forIcon {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 5px;
  font-weight: bolder;
  color: black;
}

.forIcon > button {
  background-color: white;
  color: black;
  font-size: 10px;
  font-weight: bolder;
}

.Upper1 {
  width: 100%;
  height: 470px;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
}

.sideDiv {
  gap: 50px;
  width: 11%;
}

.sideDiv > div {
  font-size: 14px;
  padding-left: 17px;
  padding-right: 17px;
}

.sideDiv > div > p {
  margin-top: 10px;
  font-size: 13.8px;
  cursor: pointer;
}
.sideDiv > div > p:hover {
  color: #8f5353;
}

.sideDiv > h3 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  margin-left: 17px;
}

.sideDiv > hr {
  width: 30%;

  border: 0.5px solid;
  background-color: black;
  margin-left: 19px;
}

.newsDiv {
  gap: 50px;
  width: 20%;
  height: 550px;
}

.newsDiv > div {
  width: 100%;
  margin: auto;
  text-align: center;
  align-items: center;
  align-content: center;
  padding: 25px;

  margin-top: 30px;
  background-color: white;
}

.emailIcon {
  width: 18%;
  margin: auto;
  font-size: 30px;
}

.newsDiv > div > h3 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 20px;
}

.newsDiv > div > p {
  font-size: 14px;
  margin-bottom: 20px;
}

.newsDiv > div > input {
  background-color: #f3f3f3;
  height: 50px;
  width: 100%;
  padding: 10px;
  font-size: 13.8px;
  font-weight: 600;
}

.radioDiv {
  margin-top: 20px;
  margin-bottom: 20px;
}
.newsDiv > div > button {
  width: 95%;
  background-color: #333333;
  border-radius: 0;
  font-size: 12px;
  font-weight: 550;
}

.checkDiv {
  font-size: 12px;
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
}

.checkDiv > input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 60px;
  height: 25.9px;
  border: 4px solid #999999;
  border-radius: 0;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
}

.mid2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #f3f3f3;
  border: 1px solid white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.socialDiv {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 20px;
}

.socialDiv > h3 {
  font-size: 12.8px;
  font-weight: 550;
}

.socialDiv1 {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 40px;
  color: #333333;
}

.socialDiv1 > a > h3 {
  font-size: 12.8px;
  font-weight: 550;
}

.fb:hover {
  color: blue;
  cursor: pointer;
}

.insta:hover {
  color: pink;
  cursor: pointer;
}

.yt:hover {
  color: red;
  cursor: pointer;
}

.twit:hover {
  color: cyan;
  cursor: pointer;
}

.pinr:hover {
  color: brown;
  cursor: pointer;
}

.lower3 {
  width: 100%;
  height: 140px;
  padding-top: 50px;
  margin: auto;
  color: #f3f3f3;
  background-color: #333333;
}

.lower3 > h6 {
  font-size: 12px;
  margin-left: 240px;
  cursor: pointer;
}
.lower3 > p:hover {
  color: white;
}

.lower3 > p {
  color: #999999;
  font-size: 12px;
  margin-left: 590px;
  cursor: pointer;
}

.mainUpper {
  width: 65%;
  height: 60px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.mainUpper > div {
  height: 60px;
  width: 33.33%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
  font-size: 13.5px;
  align-items: center;
  font-weight: 600;
}

.mainUpper :first-child {
  justify-content: left;
}
.mainUpperLast {
  display: flex;
  justify-content: space-around;
}

.mainUpper > div > img {
  width: 110px;
  height: 40px;
}

.mainLower {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 12px;
  background-color: #333333;
  border: 1px solid;
  box-sizing: border-box;
}

.sliderDiv > div > div > div {
  display: flex;
  gap: 20px;
}
.sliderDiv > div > div > div > div {
  background: white;
  line-height: 2;
}

.sliderDivInner > h3 {
  font-size: 15px;
  font-weight: 700;
}

.sliderDivInner > P {
  font-size: 10px;
  color: gray;
}
.sliderDivInner > h4 {
  font-size: 14px;
  font-weight: 550;
}

.buttonsSocialDiv > p {
  font-weight: 500;
  font-size: 12.5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.googlebtnDivNav {
  width: 300px;
  margin: auto;
  gap: 10px;
  display: flex;
  align-items: center;
}

.googlebtnDivNav > div > button {
  border-radius: 0;
}

.LoginFormDiv {
  width: 300px;
  margin: auto;
  gap: 10px;
  display: flex;
  align-items: center;
}

.LoginFormDiv > form > div > input {
  border-radius: 0;
  background-color: #f3f3f3;
  font-size: 12px;
  font-weight: 550;
}

.LoginFormDiv > form > div {
  margin-bottom: 15px;
}

.LoginFormDiv > form > div > button {
  color: white;
  border-radius: 0;
  background-color: #333333;
  font-size: 12px;
}
#blacknav > Button:hover {
  background-color: red;
}
